*.exe
*.dblite
*.ilk
*.pdb
*.sln
*.vcxproj
*.filters
*.opensdf
*.sdf
*.suo
*.user
*.manifest
*.sublime-project
*.sublime-workspace
*.exp
genfiles/
project_files/debug/
project_files/release/
build/linux64gl/agnostik_release
build/linux64gl/agnostik_debug
shaders/output_gl/
shaders/output_dx11/
project_files/imgui.ini
